@charset "utf-8";

/* font - 구글폰트에서 Montserrat 300/400/600 가져옴 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap");

@font-face {
  font-family: "HSGooltokki";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/HSGooltokki.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}
address,
em,
i {
  font-style: normal;
}
button {
  background: none;
  border: none;
}
img {
  vertical-align: middle;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01rem;
  overflow-x: hidden;
}
.wrap {
  position: relative;
  background-color: #141212;
  color: #fff;
}
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header .inner {
  padding: 30px 50px;
  .logo {
    width: 150px;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    span {
      img {
        width: 100%;
      }
    }
  }
}

/** common */
section {
  margin-bottom: 150px;
}
.inner {
  padding: 0 50px;
  box-sizing: border-box;
}
.box {
  border-radius: 10px;
  overflow: hidden;
}
.btn {
  font-size: 11px;
  padding: 12px 24px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 50px;
}

/** header */

header .gnb {
  text-align: center;
  .menuOpen {
    font-size: 10px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 10px;
    padding: 30px 0;
    z-index: 10;
    cursor: pointer;
  }
  .menuOpen:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    border-radius: 30px;
    transition: all 0.3s;
  }
  .menuOpen:hover::before {
    width: 165px;
  }
  .menuBox {
    width: 99%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1000%;
    background-color: rgba(55, 55, 55, 0.4);
    backdrop-filter: blur(30px);
    border-radius: 5px;
    padding: 100px 0 30px;
    box-sizing: border-box;
    transition: all 1.5s;
    li {
      overflow: hidden;
      a {
        display: block;
        font-size: 40px;
        transform: translateY(-100%);
        transition: all 0.5s;
      }
      a:hover {
        scale: 1.05;
      }
    }
  }
  .menuBox.on {
    top: 10px;
    transition: all 0.5s;
    li a {
      transform: translateY(0px);
    }
    li:nth-child(2) a {
      transition-delay: 0.3s;
    }
    li:nth-child(3) a {
      transition-delay: 0.5s;
    }
    li:nth-child(4) a {
      transition-delay: 0.7s;
    }
  }
}

/* visual */
.visual {
  margin-bottom: 0px;
  .inner {
    display: grid;
    height: 100vh;
    padding: 25px 50px;
    box-sizing: border-box;
    grid-template-rows: auto 1fr auto;
    .mainText {
      max-width: fit-content;
      font-weight: normal;
      font-size: 80px;
      margin-left: auto;
      line-height: 0.9;
      letter-spacing: -2px;
    }
    .subText {
      font-weight: normal;
      font-size: 20px;
      align-self: flex-end;
      margin-bottom: 30px;
      span {
        color: #585858;
      }
    }
  }
  .logoWrap {
    display: flex;
    justify-content: center;
    gap: 10px;
    span {
      img {
        width: 100%;
      }
    }
    .y {
      z-index: 2;
    }
    .g {
      z-index: 2;
    }
  }
}

/* con1 */
.con1 {
  .box {
    padding: 60px;
    background-color: rgba(55, 55, 55, 0.4);
    backdrop-filter: blur(20px);
  }
  .textBox {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .mainText {
    font-size: 30px;
    width: 30vw;
    z-index: 1;
    .imgBox img {
      width: 100%;
    }
  }
  .subTextBox {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 50px;
    .subText {
      font-size: 1rem;
      p {
        margin-top: 14px;
      }
      .icon {
        font-size: 2rem;
        margin-right: 10px;
      }
    }
  }
}

.con1 .textAni {
  margin-top: 50px;
  position: relative;
  ul {
    display: grid;

    li {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: -1px;
      grid-row-start: 1;
      grid-column-start: 1;
      transform: translateX(30px);
      opacity: 0;
    }
  }
}

/* con4 */
.con4 {
  .mainTextBox {
    position: relative;
    span {
      position: absolute;
      right: 0;
      top: 0;
    }
    .title {
      font-size: 120px;
      line-height: 1;
      letter-spacing: -5px;
      overflow: hidden;
      i {
        display: block;
      }
    }
    .title.b {
      text-align: center;
    }
    .title.c {
      text-align: right;
    }
    .in {
      display: flex;
      justify-content: flex-end;
      .box {
        max-width: 550px;
        margin-right: 20px;
      }
      .title.c {
        height: fit-content;
      }
    }
  }
  .listBox {
    margin: 100px 0;
    perspective: 999px;
    .box {
      background: #fff;
      padding: 50px 80px 60px;
      margin-bottom: 35px;
      color: #141212;
      display: grid;
      grid-template-columns: 60% auto;
      position: -webkit-sticky;
      position: sticky;
      top: 100px;
      filter: brightness(1);
      h2 {
        font-size: 40px;
        font-weight: normal;
        letter-spacing: -2px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        grid-column: 1/3;
        margin-bottom: 100px;
      }
      h3 {
        font-size: 300px;
        font-weight: bold;
        line-height: 0.9;
        align-self: flex-end;
      }
      .text {
        align-self: flex-end;
        line-height: 1.4;
        h4 {
          margin-bottom: 20px;
          line-height: 1.2;
        }
        p {
          opacity: 0.5;
        }
      }
    }
    .box.a h3 {
      color: #e36840;
    }
    .box.b h3 {
      color: #4772b1;
    }
    .box.c h3 {
      color: #ffb84f;
    }
  }
  .subTextBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .subText {
      max-width: 600px;
      font-size: 22px;
      grid-column-start: 2;
    }
  }
}

/* con5 */
.con5 {
  background: #fff;
  color: #141212;
  margin-bottom: 0;
  .inner {
    padding: 50px;
  }
  .mainTextBox h2 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: normal;
  }
  .listBox {
    border-top: 1px solid #000;
    margin-top: 150px;
    li {
      display: grid;
      grid-template-columns: 2fr 1fr auto;
      border-bottom: 1px solid #000;
      padding: 10px 0;
      cursor: pointer;
      h3 {
        font-size: 40px;
        letter-spacing: -1px;
        font-weight: normal;
      }
      p {
        align-self: center;
      }
    }
  }
  .imgBox {
    position: absolute;
    transform: scale(0);
    opacity: 0;
    z-index: 100%;
  }
}
/* footer */
footer {
  position: relative;
  overflow: hidden;
  background: white;
  .inner {
    height: 100vh;
    padding: 75px 75px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    .box {
      padding: 50px 0 0;
      background: rgba(55, 55, 55, 0.4);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .mainTextBox {
        text-align: center;
        flex-grow: 1;
        p {
          font-size: 120px;
          text-transform: uppercase;
          letter-spacing: -1px;
          font-weight: normal;
          margin-bottom: 30px;
          display: block;
        }
      }
      .talkBtn {
        display: grid;
        place-items: center;
        flex-grow: 1;
        a {
          display: block;
          width: 95px;
          height: 95px;
          border-radius: 100%;
          box-shadow: 0 0 0 13px #1c1c1c, 0 0 50px rgba(255, 255, 255, 0.3);
          span {
            display: block;
            width: 95%;
            height: 95%;
            margin: 2.5% auto;
            border-radius: 100%;
            background: #e36840;
            transition: all 0.3s;
          }
        }
        a:hover span {
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
      }
      .btnBox {
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        .btn {
          margin: 20px;
          padding: 10px;
          background: none;
          color: #fff;
          opacity: 0.5;
        }
        .btn:hover {
          opacity: 1;
        }
      }
    }
  }
  .copyright {
    padding: 10px;
    color: black;
    flex-direction: row;
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
  }
  .logoWrap {
    position: absolute;
    left: 0;
    top: -50%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    span {
      width: 16%;
      img {
        width: 100%;
      }
    }
  }
}
/* loading */
.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #141212;
  z-index: 9999;
  .logo {
    opacity: 0;
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateY(100%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    gap: 2px;
    span img {
      width: 90%;
    }
  }
}

.loading.scene1 {
  display: block;
  .logo {
    opacity: 1;
  }
  .logo span {
    animation-name: up;
    animation-duration: 0.5s;
  }
}

.loading.scene2 {
  .logo span:nth-child(1) {
    opacity: 0;
    transition: 0.1s;
  }
  .logo span:nth-child(2) {
    opacity: 0;
    transition: 0.2s;
  }
  .logo span:nth-child(3) {
    opacity: 0;
    transition: 0.3s;
  }
  .logo span:nth-child(4) {
    opacity: 0;
    transition: 0.4s;
  }
  .logo span:nth-child(5) {
    opacity: 0;
    transition: 0.5s;
  }
}

.loading.displayNone {
  display: none;
}

.rotate.on {
  animation-name: up;
  animation-duration: 1s;
}

.opacity.on {
  animation-name: fadeIn;
  animation-duration: 1s;
}

/* media */
body.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}
body.hide-scrollbar {
  overflow: hidden;
}
::-webkit-scrollbar-thumb {
  background-color: #ff764a; /* 스크롤바 색상 */
}
::-webkit-scrollbar-track {
  background-color: #141212; /* 스크롤바 트랙 색상 */
}
::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

/* 키프레임 */
@keyframes opa {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
